.searchbardiv {
    width: 100%;
    max-width: 67.25rem;
    margin: 6rem auto;
 }
 
 .searchBar {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
 }
 
 .searchInput {
   width: 100%;
   height: 2.8rem;
   background: #1F1A33;
   opacity: 60%;
   outline: none;
   border: none;
   border-radius: 1.625rem;
   padding: 0 3.5rem 0 1.5rem;
   font-size: 1rem;
   color: white;
   box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
 }
 
 .searchSubmit {
   width: 3.5rem;
   height: 2.8rem;
   margin-left: -3.5rem;
   background: none;
   border: none;
 }

 svg {
    width:24px;
    height:24px
 }

 .searchSubmit:hover {
    cursor:pointer;
 }