.card {
    width: 100%;
    height: 100%;
    background-color: #1F1A33;
    opacity: 50%;
}

.cardsGrid {
    margin-left: 480px;
    margin-right: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
 }

 img {
    opacity: 100%;
 }